<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="/public/img/favicon.ico"/>
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Abhik Ghosh | Projects, Profiles, Technical Articles</title>
</head>
<body>
    <div class="container">

      <header>
        <%- include('./../home/_navbar') %>
    </header>
            <section class="blog-section">
                <div class="blog-nav">
                  <div class="card border-light mb-3 " >
                    <div class="card-body">
                      <h1 class="card-title text-center">Projects</h1>
                      <blockquote class="blockquote">
                        <p class="card-text mb-0 text-center">“Any fool can write code that a computer can understand. 
                          Good programmers write code that humans can understand.” – Martin Fowler</p>
                      </blockquote>  
                    </div>
                  </div>
                    <div class="row">
                        <div class="col">
                          
                        </div>
                        <div class="col-10">
                          <% if(mode == 'DEV'){ %>
                            <div class="d-flex justify-content-center mb-3">
                                <a href="/projects/new" class="btn btn-secondary">Create a new Project</a>
                            </div>
                          <% } %>
                            <ul class="nav nav-pills nav-fill">
                                <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">All Projects</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">Cloud Projects</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">Data Projects</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">Design Projects</a>
                                </li>
                                
                              </ul>
                        </div>
                        <div class="col">
                          
                        </div>
                    </div>
                    
                </div>
                <div class="blog-display mt-3">
                    
                    
                    <div class="row">
                        <!--div class="col">
                          
                        </div-->
                        <div class="col-12">
                          <div class="target-header">
                                
                            <div class="d-flex justify-content-center m-3" >
                              <h6 class="target-class">Loading...</h6>
                            </div>
                          </div>
                            <div class="blog-list-card">
                            <% projects.forEach(project => { %>
                                <div class="card m-2">

                                    <div class="card-body mx-lg-5">
                                      <div class="row">
                                        <div class="col-lg-9"><h4 class="card-title my-2"><%=  project.title %></h4></div>
                                        <div class="col-lg-3 proj-type"><div class="text-muted my-2"><%=  project.projectType %></div></div>
                                      </div>
                                      
                                      
                                      <p class="card-text text-secondary mb-2"><%=  project.description %></p>
                                      <a href="/projects/<%=  project.slug %>" class="btn btn-secondary btn-sm">Read More</a>
                                    </div>
                                </div>
                            <% }) %>
                            </div>
                            
                        </div>
                        <!--div class="col">
                          
                        </div-->
                    </div>
                </div>
            </section>       
            <footer>
              <div class="card-footer text-muted mt-3">
                <%- include('./../home/_footer') %>
              </div>
            </footer>
   </div>
   
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <!-- local JS -->
    <script src="/public/js/main.js"></script>
    
</body>
</html>